<div class="resume-part {{model.name}}">
    <h2>{{model.title}}</h2>

    <div class="resume-element" *ngFor="let element of model.elements">
        <div class="resume-element__left">
            <span class="bolder">{{element.subTitle}}</span>
        </div>
        <div class="resume-element__right">
            <h3 *ngIf="element.title">{{element.title}}</h3>
            <span class="meta" *ngIf="element.meta != null">
                <div *ngIf="element.meta.url; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <a href="{{element.meta.url}}" target="_blank" *ngIf="element.meta.url">
                        {{element.meta.content}}
                    </a>
                </ng-template>
                <ng-template #elseBlock>
                    {{element.meta.content}}
                </ng-template>
            </span>
            <p *ngIf="element.content.text">{{element.content.text}}</p>
            <ul *ngIf="element.content.list">
                <ng-container *ngFor="let content of element.content.list">
                    <li>{{content.text}}</li>
                    <ul *ngIf="content.list">
                        <li *ngFor="let innerContent of content.list">{{innerContent.text}}</li>
                    </ul>
                </ng-container>
            </ul>
        </div>
    </div>

</div>