<h1>{{ title }}</h1>

<div id="projects">
    <div *ngIf="repos.length; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="project" *ngFor="let repo of repos">
            <a href="{{repo.url}}" target="_blank">
                <div class="flex flex__start">
                    <div class="flex__start__left">
                        <img src="{{repo.avatarUrl || 'assets/icons/007-code.svg'}}">
                    </div>
                    <div class="flex__start__right">
                        <h2>{{repo.name}}</h2>
                        <p>{{repo.description}}</p>
                        <div id="tags" *ngIf="repo.tags.length">
                            <span class="tag revert-color" *ngFor="let tag of repo.tags">{{tag}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="align-center">
            <app-loading-icon></app-loading-icon>
        </div>
    </ng-template>
</div>