<h1>{{ title }}</h1>

<div *ngFor="let resumePart of resumeParts">
    <app-resume-part [model]="resumePart"></app-resume-part>
</div>

<div class="disclaimer">
    <h2>Disclaimer</h2>
    <p>
        There is probably a lot still left unsaid, I am more than happy
        to further review these.
    </p>
</div>