:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 20px;
    a {
        margin-right: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        padding: 10px;
        span {
            margin-top: 10px;
        }
        &:not(:first-child) * {
            stroke-width: 10;
        }
    }
}

.icon {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
