<div class="content">
    <nav id="main-navigation">
        <a routerLink="/">
            <div class="icon" [inlineSVG]="'assets/icons/home.svg'"></div>
            <span>Home</span>
        </a>
        <a routerLink="/resume">
            <div class="icon" [inlineSVG]="'assets/icons/034-user.svg'"></div>
            <span>Resume</span>
        </a>
        <a routerLink="/projects">
            <div class="icon" [inlineSVG]="'assets/icons/007-code.svg'"></div>
            <span>Projects</span>
        </a>
        <a routerLink="/contact">
            <div class="icon" [inlineSVG]="'assets/icons/012-email.svg'"></div>
            <span>Contact</span>
        </a>
    </nav>
</div>