/* You can add global styles to this file, and also import other style files */
$background-color: #111a20;
$font-color: #a1c2c2;
$mobile-bp: 768px;

html {
    min-width: 100vw;
    min-height: 100vh;
    background-color: $background-color;
    color: $font-color;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

main {
    margin-top: 200px;
    margin-bottom: 100px;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    background-color: $background-color;
}

svg:not(#avatar),
svg:not(#avatar) path {
    fill: $font-color;
    stroke: $font-color;
    max-height: 100%;
    max-width: 100%;
}

svg * {
    transition: all 0.2s ease-in-out;
}

svg#avatar:hover {
    #Mouth-Default {
        opacity: 0;
    }
    #Mouth-Serious {
        opacity: 1;
    }
    #Eyebrow-Default {
        opacity: 0;
    }
    #Eyebrow-Serious {
        opacity: 1;
    }
}

img {
    max-width: 100%;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    //background-color: $background-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    a {
        text-decoration: underline;
    }
}

h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    color: $font-color;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}

h1 {
    margin: 30px 0 60px;
    text-align: center;
}

ul {
    &:first-child {
        margin-top: 0;
        padding-left: 1em;
    }
}

.scrolling {
    app-navigation {
        background-color: $background-color;
    }
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.float-left {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

.float-right {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
}

@media screen and (max-width: $mobile-bp) {
    .float-left,
    .float-right {
        float: none;
        text-align: center;
    }
}

.align-center {
    text-align: center;
}

.bolder {
    font-weight: 700;
}

.tag {
    display: inline-block;
    margin: 0 1em 0.6em 0;
    border: 1px solid;
    border-radius: 1em;
    padding: 0.3em 1.5em;
    font-weight: 700;
}

.revert-color {
    background: $font-color;
    color: $background-color;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.resume-part,
.project {
    margin-bottom: 5em;
}

.flex {
    display: flex;
    margin-bottom: 2em;
    &__start {
        justify-content: flex-start;
        &__left {
            margin-right: 5em;
            flex: 0 0 15%;
        }
    }
}

.resume-element {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2em;
    &__left {
        margin-right: 5em;
        flex: 0 0 15%;
    }
    h3,
    h4,
    h5 {
        margin-bottom: 0.5em;
    }
}

.meta {
    font-weight: 600;
}
