<h1>{{ title }}</h1>
<div class="float-left" [inlineSVG]="'assets/icons/happy-avatar.svg'"></div>

<p>
    Hello, my name is Eetu Purtonen and I am a software developer from Espoo.
    I am a bachelor of software engineering and have been working as a software developer for
    little over 3 years now.
</p>
<p>
    I am currently working as a developer in <a target="_blank" href="https://aitomation.fi">Aitomation</a>.
    We do Robotic Process Automation (RPA) and Intelligent Automation (IA) as well as other automation related work
    based on customer needs.
    We are using all modern tools and methodologies,
    e.g. Microsoft Azure Cloud serverless Functions and Logic Apps,
    Azure DevOps for CI/CD pipelines and project management.
</p>
<p>
    Besides automation I have a passion for clean code and architecture, as well as any new technologies and DevOps.
    I have mostly been working on the backend but I am no stranger to the UI and I am more than happy to learn the
    ever growing plethora of Javascript frameworks and new versions of ECMAScript and Typescript, hence creating
    this site in Angular and Typescript.
</p>